{{!-- Persona Tab --}}



<div class="flexrow goals-language">
    <div class="flexcol goals container">
        <label>{{localize "theexpanse-system.goals"}}</label>
        <textarea class="free-text" name="data.goals">{{data.data.goals}}</textarea>
    </div>
    <div class="spacer"></div>
    <div class="flexcol language container">
        <label>{{localize "theexpanse-system.language"}}</label>
        <textarea class="free-text" name="data.language">{{data.data.language}}</textarea>
    </div>
</div>

<div class="social-row">
    {{!-- Relationship Container --}}
    <div class="item-container">
        <div class="top-row colorset-first-tier">{{localize "theexpanse-system.relationshipContainer"}}</div>
        <div class="actor-items flexrow">
        {{#each data.relationship as |item id|}}
            <div class="item-box flexrow feature-controls colorset-third-tier" data-item-id="{{item._id}}">
                <div class="item-card flexrow">
                    <div class="main-data flexrow">
                        <img class="item-image" src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                        <a class="item-show item-name">{{item.name}} [{{item.data.intensity}}]</a>
                    </div>
                    <div class="controls flexrow">
                        <a class="item-control item-edit" title="{{localize "theexpanse-system.settings.edit"}}"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="{{localize "theexpanse-system.settings.delete"}}"><i class="fas fa-trash"></i></a>
                    </div>
                </div>
            </div>
        {{/each}}
        </div>
    </div>

    {{!-- Honorifics' Container --}}
    <div class="item-container">
        <div class="top-row colorset-first-tier">{{localize "theexpanse-system.honorificsContainer"}}</div>
        <div class="actor-items flexrow">
        {{#each data.honorifics as |item id|}}
            <div class="item-box flexrow feature-controls colorset-third-tier" data-item-id="{{item._id}}">
                <div class="item-card flexrow">
                    <div class="main-data flexrow">
                        <img class="item-image" src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                        <a class="item-show item-name">{{item.name}}</a>
                    </div>
                    <div class="controls flexrow">
                        <a class="item-control item-edit" title="{{localize "theexpanse-system.settings.edit"}}"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="{{localize "theexpanse-system.settings.delete"}}"><i class="fas fa-trash"></i></a>
                    </div>
                </div>
            </div>
        {{/each}}
        </div>
    </div>

    {{!-- Membership Container --}}
    <div class="item-container">
        <div class="top-row colorset-first-tier">{{localize "theexpanse-system.membershipContainer"}}</div>
        <div class="actor-items flexrow">
        {{#each data.membership as |item id|}}
            <div class="item-box flexrow feature-controls colorset-third-tier" data-item-id="{{item._id}}">
                <div class="item-card flexrow">
                    <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                    <a class="item-show item-name">{{item.name}} [{{localize "theexpanse-system.rank"}} {{item.data.rank}}]</a>
                </div>
                <div class="flexrow fill-card">
                    <a class="item-control item-edit" title="{{localize "theexpanse-system.settings.edit"}}"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="{{localize "theexpanse-system.settings.delete"}}"><i class="fas fa-trash"></i></a>
                </div>
            </div>
        {{/each}}
        </div>
    </div>
</div>

<div class="flexcol bio container">
    <label for="">{{localize "theexpanse-system.bio"}}</label>
    {{editor content=data.data.features target="data.features" button=true owner=owner editable=editable}}
</div>

{{#if isGM}}
<div class="flexcol secret-note container">
    <label for="">{{localize "theexpanse-system.gmNotes"}}</label>
    <textarea class="free-text" name="data.gmNotes">{{data.data.gmNotes}}</textarea>
</div>
{{/if}}

{{#if owner}}
<div class="flexcol secret-note container">
    <label for="">{{localize "theexpanse-system.secretNote"}}</label>
    <textarea class="free-text" name="data.secretNote">{{data.data.secretNote}}</textarea>
</div>
{{/if}}