<form class="theexpanse-system base-theexpanse-roll colorset-selection {{colorScheme}}">
    <div class="feature-controls"
        data-stunt-die="{{theexpanseRollSummary.dice.d3}}"
        data-actor-id="{{actorId}}"
        data-actor-token="{{isToken}}"
        data-atkdmg-trade="{{atkDmgTradeOff}}"
        {{#if focusId}} data-focus-id="{{focusId}}" {{/if}}
        {{#if itemId}} data-item-id="{{itemId}}" {{/if}}>

        <div class="flexcol roll-card regular-roll-card">

            <div>
                <h3 class="action-details colorset-first-tier">{{flavor}}</h3>
                <div class="dice-show trait-test flexrow">
                    {{#each theexpanseRollSummary.dice as |diceFace|}}
                        {{#when diceFace 'eq' 1}}
                        <i class="fas fa-dice-one fa-4x"></i>
                        {{/when}} {{#when diceFace 'eq' 2}}
                        <i class="fas fa-dice-two fa-4x"></i>
                        {{/when}} {{#when diceFace 'eq' 3}}
                        <i class="fas fa-dice-three fa-4x"></i>
                        {{/when}} {{#when diceFace 'eq' 4}}
                        <i class="fas fa-dice-four fa-4x"></i>
                        {{/when}} {{#when diceFace 'eq' 5}}
                        <i class="fas fa-dice-five fa-4x"></i>
                        {{/when}} {{#when diceFace 'eq' 6}}
                        <i class="fas fa-dice-six fa-4x"></i>
                        {{/when}}
                    {{/each}}
                </div>
                <div class="flexrow roll-mod total-roll">
                    <h3 class="line-header">{{localize "theexpanse-system.settings.totalRolled"}} {{#if rollTN}} {{#if isSuccess}} ({{localize "theexpanse-system.success"}}) {{else}} ({{localize "theexpanse-system.miss"}}) {{/if}} {{/if}}</h3>
                    <h3 class="line-value">{{roll.total}}</h3>
                </div>
                <div class="flexrow roll-mod{{#if theexpanseRollSummary.stunt}} stunted{{/if}}">
                    <div class="line-header">{{localize "theexpanse-system.settings.stuntPoints"}}</div>
                    <div class="line-value">{{#if theexpanseRollSummary.stunt}}{{theexpanseRollSummary.dice.d3}}{{else}}-{{/if}}</div>
                </div>

                {{#each partials as |part key|}}
                <div class="flexrow roll-mod">
                    <div class="line-header">{{part.label}}</div>
                    <div class="line-value">{{part.value}}</div>
                </div>
                {{/each}}
                
            </div>

            {{#if (ne rollType 'fatigue')}}
            <div class="theexpanse-chat-buttons flexcol">
                {{#if (or hasDamage hasHealing)}}
                <div class="theexpanse-chat-buttons-grid">

                    <button class="theexpanse-button roll-damage main-dmg">
                        {{#if hasTest}}
                            {{#if hasDamage}} {{localize "theexpanse-system.chatCard.rollFullDamage"}}
                            {{else}} {{localize "theexpanse-system.chatCard.rollFullHealing"}} {{/if}}
                        {{else}}
                            {{#if hasDamage}} {{localize "theexpanse-system.chatCard.rollDamage"}}
                            {{else}} {{localize "theexpanse-system.chatCard.rollHealing"}} {{/if}}
                        {{/if}}
                    </button>

                    <button class="theexpanse-button roll-damage add-stunt-damage sd-dmg">
                        {{localize "theexpanse-system.chatCard.addStuntDie"}}
                    </button>

                    <button class="theexpanse-button roll-damage add-focus-damage focus-dmg">
                        {{localize "theexpanse-system.chatCard.addFocus"}}
                    </button>

                    <button class="theexpanse-button roll-damage add-focus-damage add-stunt-damage both-dmg">
                        {{localize "theexpanse-system.chatCard.addFocusSD"}}
                    </button>

                </div>
                {{/if}}

                {{#if (and (or hasDamage hasHealing) hasTest)}}
                <div class="theexpanse-chat-buttons-grid">
            
                    <button class="theexpanse-button roll-damage resisted main-dmg">
                        {{#if hasDamage}} {{localize "theexpanse-system.chatCard.rollResistedDamage"}}
                        {{else}} {{localize "theexpanse-system.chatCard.rollResistedHealing"}} {{/if}}
                    </button>

                    <button class="theexpanse-button roll-damage resisted add-stunt-damage sd-dmg">
                        {{localize "theexpanse-system.chatCard.addStuntDie"}}
                    </button>

                    <button class="theexpanse-button roll-damage resisted add-focus-damage focus-dmg">
                        {{localize "theexpanse-system.chatCard.addFocus"}}
                    </button>

                    <button class="theexpanse-button roll-damage resisted add-focus-damage add-stunt-damage both-dmg">
                        {{localize "theexpanse-system.chatCard.addFocusSD"}}
                    </button>
              
                </div>
                {{/if}}

                {{#if usingFatigue}}
                {{#if hasFatigue}}
                <button class="roll-fatigue theexpanse-button">
                    {{localize "theexpanse-system.rollFatigue"}} <i class="fas fa-head-side-cough"></i>
                </button>
                {{/if}}
                {{/if}}
            </div>
            {{/if}}
            
        </div>
        <div class="blind-roll-card flexcol roll-card">
            <div>
                <h3 class="action-details colorset-first-tier other-user-roll">
                    {{localize "theexpanse-system.chatCard.looseRoll" user=user.name }}
                </h3>
                <h3 class="action-details colorset-first-tier user-roll">
                    {{localize "theexpanse-system.blindRollSomeone"}}
                </h3>
                <div class="dice-show trait-test flexrow">
                    <i class="fas fa-question-circle fa-4x"></i>
                    <i class="fas fa-question-circle fa-4x"></i>
                    <i class="fas fa-question-circle fa-4x"></i>
                </div>
                <div class="roll-mod stunted blind-value">???</div>
            </div>
        </div>
    </div>
</form>
