{{!-- Colorset defined in the Actor Sheet Class --}}
<form class="actor-sheet {{cssClass}} colorset-{{data.colorScheme}} colorset-selection" autocomplete="off">
    <div class="char-sheet">
        <header class="sheet-header flexcol">
            
            <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
            <div>
                <h1 class="charname">
                    <input name="name" type="text" value="{{actor.name}}" placeholder={{localize "theexpanse-system.name"}}/>       
                    <div class="flexrow level-xp">
                            <label for="">{{localize "theexpanse-system.level"}}</label>
                            <input type="number" name="data.level" value="{{data.data.level}}" data-dtype="Number" />
                    </div>
                </h1> 
                {{!-- General Character Information --}}
                <div class="theexpanse-header">  
                    <div class="flexrow">
                        <div>
                            <label for="">{{localize "theexpanse-system.socialClass"}}</label>
                            <input type="text" name="data.socialClass" value="{{data.data.socialClass}}">
                        </div>
                        <div>
                            <label for="">{{localize (concat "SETTINGS.ancestryOpt" data.ancestry)}}</label>
                            <input type="text" name="data.ancestry" value="{{data.data.ancestry}}">
                        </div>
                    </div>

                    <div class="flexrow">
                        <div>
                            <label for="">{{localize "theexpanse-system.background"}}</label>
                            <input type="text" name="data.background" value="{{data.data.background}}">
                        </div>
                        <div>
                            <label for="">{{localize (concat "SETTINGS.occ" data.occupation)}}</label>
                            <input type="text" name="data.profession" value="{{data.data.profession}}">
                        </div>
                    </div>                   
                    
                  <div class="flexrow">
                        <div>
                            <label for="">{{localize "theexpanse-system.drive.drive"}}</label>
                            <input type="text" name="data.drive.name" value="{{data.data.drive.name}}">          
                        </div>
                        <div>
                            <label for="">{{localize "theexpanse-system.drive.quality"}}</label>
                            <input type="text" name="data.drive.quality" value="{{data.data.drive.quality}}">          
                        </div>
                        <div>
                            <label for="">{{localize "theexpanse-system.drive.downfall"}}</label>
                            <input type="text" name="data.drive.downfall" value="{{data.data.drive.downfall}}">     
                        </div>  
                    </div>                 
                </div>
            </div>

        </header>
         {{> "systems/theexpanse-system/templates/partials/conditions-block.hbs"}}
        {{!-- Navigaton Bar and Tabs --}}
        {{> "systems/theexpanse-system/templates/partials/char-sheet-nav-bar.hbs"}}
    </div>
</form>